.header {
                text-align: center;
                color: white;
                padding: 10px;

            }


h1, h2 {
    color: rgb(255, 255, 255);
}


body {
    background-color: #000000;
}